<div class="container">
    <div class="row mb-3">
        <div class="col-md-5 mx-5 mb-2 box p-5">
            <p class="text-center">Intensité</p>
            <h5 class='text-center'>{{metric.intensity}} <small>A</small></h5>
        </div>
        <div class="col-md-5 mb-2 box p-5">
            <p class="text-center">Tension</p>
            <h5 class='text-center'>{{metric.voltage}} <small>V</small></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mx-5 mb-2 box p-5">
            <p class="text-center">Puissance</p>
            <h5 class='text-center'>{{metric.power}} <Small>KW</Small></h5>
        </div>
        <div class="col-md-5 mb-2 box p-5">
            <p class="text-center">Consommation énergetique</p>
            <h5 class='text-center'>{{metric.energy}} <small>KWH</small></h5>
        </div>
    </div>
</div>